@{
    ViewData["Title"] = "Contact us";
}

<div class="row">
    <div class="col-12">
        <div class="bg-trasnparent rounded-3 p-5 mb-4 alert-danger bg-opacity-5">
            <div class="row d-flex flex-row align-content-evenly">

                <div class="col-md-8 d-flex flex-column align-content-center">

                    <h1 class="fw-bold">@ViewBag.Title</h1>
                    <br />
                    <address>
                        <strong>Mailing Adress</strong>
                        <br />
                        Crowd Knowledge Contribution Company<br />
                        620 Eighth Avenue, New York<br />
                        NY 10018<br />

                    </address>

                    <address>
                        <strong>Phone: </strong>
                        <label>425.555.0100</label>

                    </address>

                    <address>
                        <strong>E-mail: </strong>
                        <a href="mailto:support@example.com">cw_contribution@example.com</a>
                    </address>

                </div>

                <div class="col-md-4">
                    <img src="https://cdn-icons-png.flaticon.com/512/9052/9052082.png" class="img-fluid align-items-center justify-content-center" />
                </div>
            </div>
        </div>
    </div>
</div>